$directions: block, inline;
$sizes: (
  sm: 4px,
  normal: 8px,
  md: 16px,
  lg: 32px,
  xl: 50px,
  xxl: 100px,
);

@each $direction in $directions {
  @each $sizeName, $sizeValue in $sizes {
    .padding-#{$direction}-#{$sizeName} {
      padding-#{$direction}: $sizeValue;
    }

    .margin-#{$direction}-#{$sizeName} {
      margin-#{$direction}: $sizeValue;
    }
  }
}
